body{
    background-color: #252525;
}
.nav{
    position: sticky;
    top: 10px;
    background-color: rgb(255, 255, 255);
    height: 70px;
    width: 1480px;
    padding-left: 40px;
    display: flex;
    box-shadow: 2px 1px 6px black;
    position: sticky;
   
}
.nav2{
    padding-left:30PX;
    padding-right: 30px;
    padding-top: 25px;
    height: 49px;
    text-decoration: none;
}

.nav2:hover{
    transition:cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-duration: 1s;
    background-color: #252525;
    color:aliceblue ;
    justify-items: center;
    height: 47px;
    margin-top: 10px;
    box-shadow: 1px 1px 66px rgb(255, 255, 255);
}
input[type=text]:first-child{
    width: 200px;
    font-size: 20px;
    margin-left: 400px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    background-image: url(search_icon.png);
    background-repeat: no-repeat;
    background-size:20px;    
    background-position: 10px 10px;
    font-family: 'Brush Script MT', cursive;
}
.fix{
    margin-top: 100px;
    margin-left: 100px;
    color: aliceblue;

}
.img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 3px 2px 3px rgb(0, 0, 0);
}
.text{
    text-decoration: none;
    margin-left: 250px;
    margin-top: -200px;
    color: aliceblue;
    font-family: Georgia, serif;
    box-sizing: border-box;
    border: none;
    border-left: 0.1px solid black;
    padding-left: 10px;
    
}
a{
    text-decoration: none;
}
.price{
    font-size: 35px;
    color: rgb(147, 4, 147);
    margin-top: 10px;
}
.del{
    font-size: 15px;
    
}
.emi{
    margin-top: -20px;
    font-family: 'Brush Script MT', cursive;
    font-size: 20px;
}
.second{
    margin-top: 300px;
}
